@model List<GetHallVM>

<h2>Hall List</h2>
<a asp-area="Admin" asp-controller="hall" asp-action="create" >create</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cinema</th>
            <th>Hall Type</th>
            <th>Capacity</th>
            <th>Seats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model)
        {
            <tr>
                <td>@hall.Name</td>
                <td>@hall.CinemaName</td>
                <td>@hall.HallTypeName</td>
                <td>@hall.Capacity</td>
                <td>
                    <a asp-area="Admin" asp-controller="Seat" asp-action="Index" asp-route-hallId="@hall.Id">View Seats</a>
                    <a asp-controller="hall" asp-action="update" asp-route-id="@hall.Id">Update</a>
                    <a asp-controller="hall" asp-action="delete" asp-route-id="@hall.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
