@model CreateMovieVM



<h2>Yeni Film Əlavə Et</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Film Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PhotoFile" class="form-label">Şəkil</label>
        <input asp-for="PhotoFile" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="TrailerVideo" class="form-label">Trailer URL</label>
        <input asp-for="TrailerVideo" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="VideoFile" class="form-label">Video Fayl</label>
        <input asp-for="VideoFile" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Duration" class="form-label">Müddət</label>
        <input asp-for="Duration" type="time" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="Director" class="form-label">Rejissor</label>
        <input asp-for="Director" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Country" class="form-label">Ölkə</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ImdbRating" class="form-label">IMDb</label>
        <input asp-for="ImdbRating" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Təsvir</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="AgeRestriction" class="form-label">Yaş Məhdudiyyəti</label>
        <input asp-for="AgeRestriction" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ReleaseDate" class="form-label">Çıxış Tarixi</label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
    </div>


    <div class="mb-3">
        <label>Kateqoriyalar</label>
        @if (Model.Categories != null)
        {
            @foreach (var c in Model.Categories)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="@c.Id" name="SelectedCategoryIds" />
                    <label class="form-check-label">@c.Name</label>
                </div>
            }
        }
    </div>

    <div class="mb-3">
        <label>Taglar</label>
         @if (Model.Tags != null)
        {
        @foreach (var t in Model.Tags)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@t.Id" name="SelectedTagIds" />
                <label class="form-check-label">@t.Name</label>
            </div>
        }
        }
    </div>

    <h4>Aktyorlar və Rollar</h4>
        @if (Model.Actors != null)
        {
    @for (int i = 0; i < 1; i++) 
    {
        <div class="mb-3 border p-2 rounded">
            <label>Aktyor seçin</label>
            <select name="ActorRoles[@i].ActorId" class="form-control">
                <option disabled selected>-- Aktyoru seçin --</option>
                @foreach (var actor in Model.Actors)
                {
                    <option value="@actor.Id">@actor.Name @actor.Surname</option>
                }
            </select>

            <label class="mt-2">Rol</label>
            <input type="text" name="ActorRoles[@i].Role" class="form-control" placeholder="Rolun adını yazın" />
        </div>
    }
    }


    <div class="mb-3">
        <label>Dillər</label>
         @if (Model.Languages != null)
        {
        @foreach (var l in Model.Languages)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@l.Id" name="SelectedLanguageIds" />
                <label class="form-check-label">@l.Name</label>
            </div>
        }
        }
    </div>

    <div class="mb-3">
        <label>Subtitrlər</label>
         @if (Model.Subtitles != null)
        {
        @foreach (var s in Model.Subtitles)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@s.Id" name="SelectedSubtitleIds" />
                <label class="form-check-label">@s.Language.Name</label>
            </div>
        }
        }
    </div>

    <button type="submit" class="btn btn-success">Əlavə et</button>
</form>
