
@model List<GetCinemaVM>
@{
    int count = 0;
}
<div class="content-inner container-fluid pb-0" id="page_layout">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Cinema</h4>
                    <a asp-action="Create" class="btn btn-success">Create</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive border rounded py-4">
                        <table id="datatable" class="table " data-toggle="data-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Ad</th>
                                    <th>Image</th>
                                    <th>Ünvan</th>
                                    <th>Əlaqə</th>
                                    <th>Açılış</th>
                                    <th>Bağlanış</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <img src="~/assets/images/cinema/@item.Photo" class="img-fluid" style="width: 80px; height: auto;">
                                        </td>
                                        <td>@item.Address</td>
                                        <td>@item.ContactNumber</td>
                                        <td>@item.OpenTime</td>
                                        <td>@item.CloseTime</td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                          
                            </tbody>
                          
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>