
@model ActorVm

<div class="iq-breadcrumb" style="background-image: url(/assets/images/pages/01.webp);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center">
                    <h2 class="title">Cast</h2>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home">Home</a></li>
                        <li class="breadcrumb-item active">Cast</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>     

<section class="section-padding">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">

            @foreach (var item in Model.Actors)
            {
                <div class="col">
                    <div class="iq-cast">
                        <img src="~/assets/images/cast/@item.Photo" class="img-fluid" alt="castImg" />
                        <div class="card-img-overlay iq-cast-body">
                            <h6 class="cast-title fw-500">
                                <a asp-action="ActorDetail" asp-route-id="@item.Id">
                                  @item.Name @item.Surname
                                </a>
                            </h6>
                            <span class="cast-subtitle">
                              @item.Position.Name
                            </span>
                        </div>
                    </div>
                </div>
            }
          
          
        </div>
        <div class="text-center mt-4">
            <nav>
                <ul class="pagination justify-content-center">

                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Actors" asp-route-page="@(Model.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-action="Actors" asp-route-page="@i">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Actors" asp-route-page="@(Model.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


    </div>
</section>

<style>
    .breadcrumb-item + .breadcrumb-item::before {
        content: "/";
    }
</style>