@model CreateSessionVM



<h2>Yeni Seans Yarat</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Session.StartTime"></label>
        <input asp-for="Session.StartTime" class="form-control" type="datetime-local" />
    </div>

    <div class="form-group">
        <label asp-for="Session.EndTime"></label>
        <input asp-for="Session.EndTime" class="form-control" type="datetime-local" />
    </div>

    <div class="form-group">
        <label>Film</label>
        <select asp-for="Session.MovieId" class="form-control"
                asp-items="@(Model.Movies != null ? new SelectList(Model.Movies, "Id", "Name") : new SelectList(Enumerable.Empty<SelectListItem>()))">
        </select>

    </div>
    <div class="form-group">
        <label>Zal</label>
        <select asp-for="Session.HallId" class="form-control" asp-items="@(new SelectList(Model.Halls, "Id", "Name"))"></select>
    </div>

    <div class="form-group">
        <label>Kinoteatr</label>
        <select asp-for="Session.CinemaId" class="form-control" asp-items="@(new SelectList(Model.Cinemas, "Id", "Name"))"></select>
    </div>

    <div class="form-group">
        <label>Zal Qiyməti</label>
        <select asp-for="Session.HallPriceId" class="form-control" asp-items="@(new SelectList(Model.HallPrices, "Id", "Type"))"></select>
    </div>

    <div class="form-group">
        <label>Seans Dili</label>
        <select asp-for="Session.LanguageId" class="form-control" asp-items="@(new SelectList(Model.Languages, "Id", "Name"))"></select>
    </div>

    <div class="form-group">
        <label asp-for="Session.AvailableSeats"></label>
        <input asp-for="Session.AvailableSeats" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Yarat</button>
</form>
